{% extends 'main.html' %}

{% block content %}
<style>
.dice-roller {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 30rem;
}

.dice-roller.button-bar {
	display: flex;
	flex-direction: column;
}

.button-bar.button-bar-buttons {
	margin: 0;
	padding-left: 0;
}

.dice-roller .button-bar-button-wrapper {
	list-style: none;
}

.result {
	font-size: 450%;
	margin: 0;
	padding: 0.25rem;
}
</style>

<h1>Common dice types</h1>

<div id="dice-roller-placeholder">
	<div id="dice-roller" class="dice-roller">

	<div class="button-bar">
		<ul class="button-bar button-bar-buttons">
			<li class="button-bar-button-wrapper"><button class="die" data-die-type="d6">d6</button></li>
			<li class="button-bar-button-wrapper"><button class="die" data-die-type="d8">d8</button></li>
			<li class="button-bar-button-wrapper"><button class="die" data-die-type="d20">d20</button></li>
		</ul>
	</div>
</div>

<p id="result" class="result"></p>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>

<script type="text/jsx">
$(function() {

	var DieButton = React.createClass({

		displayName: "Die button",
		rollDie: function(dieType) {
			function roll(n) { return 1 + Math.floor(Math.random() * n)};
			return function() {
				var value = roll(parseInt(dieType));
				window.dispatchEvent(new CustomEvent('ap:dr:new-roll', {'detail': {'roll': value}}));
			}
		},
		render: function() {
			return (
				<button className="die" onClick={this.rollDie(this.props.dieType)}>{this.props.buttonLabel}</button>
			)
		}
	});

	var DiceButtonBar = React.createClass({
		displayName: 'DiceButtonBar',

		render: function() {
			return (
				<ul className="button-bar button-bar-buttons">
					<li className="button-bar-button-wrapper"><DieButton buttonLabel='d6' dieType='6' /></li>
					<li className="button-bar-button-wrapper"><DieButton buttonLabel='d8' dieType='8' /></li>
					<li className="button-bar-button-wrapper"><DieButton buttonLabel='d20' dieType='20' /></li>
				</ul>

			)
		}
	});

	var Results = React.createClass({
		displayName: 'Results',
		getInitialState: function() {
			return {'data' : ''}
		},
		componentDidMount: function() {
			var resultsComponent = this;
			window.addEventListener('ap:dr:new-roll', function(event) {
				resultsComponent.setState({data: event.detail.roll})
			});
		},
		render: function() {
			return (
				<p id="result" className="result">{this.state.data}</p>
				)
		}
	});

	var DieRoller = React.createClass({
		displayName: 'DieRoller',
		render: function() {
			return (
				<div id="dice-roller" className="dice-roller">

				<div className="button-bar">
				<DiceButtonBar/>
				</div>
				<Results result={this.props.resultsLabel}/>
				</div>
			)
		}
	})

	var resultsLabel = "here";

	React.render(
		<DieRoller resultsLabel={resultsLabel}/>,
		document.getElementById('dice-roller-placeholder')
		);

});
</script>
{% endblock %}